<!DOCTYPE html>
<html lang="en">
<head>
    <title>Data Models DDL and ERDs</title>
</head>
<body>
<a href="{{ url_for('index_route') }}"/>Data Models DDL and ERDs</a> > <a href="{{ url_for('model_route', model_name=model.name) }}"/>{{ model.pretty }}</a>
<ul>
{% for version in model.versions %}
    <li><a href="{{ url_for('version_route', model_name=model.name, version_name=version.name) }}"/>{{ version.name }}</a>{% if version.release_color %} <span style="color:{{ version.release_color }}">{{ version.release_level }}</span>{% endif %}</li>
{% endfor %}
</ul>
</body>
</html>
